@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Rubik:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


:root {
    --accent-color: #69B99D;
    --second-color: #A6A6A6;
    --bg-second: #F5F5F5;
    --main-text-color: #1F2744;
    --description-color: #73788C;
    --white-color: #fff;
    --link-color: #8E8E8E;
    --shadow: 0px 0px 20px rgba(105, 185, 157, 0.58);

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body {
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

*img {
    max-width: 100%;
    width: 100%;
}

.title {
    font-family: 'Rubik', sans-serif;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.5px;
    color: #054457;

}
.subtitle{
    width: 90%;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.0025em;
    color: #73788C;
}

[class*="__container"] {
    max-width: 1200px;
    margin: 0 auto;
}


.lable {
    font-weight: 500;
    background: #F8F9FE;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.5px;
    color: #69B99D;
    padding: 12px 24px;
    width: max-content;
}

.btn {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    background-color: transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.0025em;
    cursor: pointer;

    &:hover,
    &:active {
        color: var(--white-color);
        background-color: var(--accent-color);
        box-shadow: var(--shadow);
    }

}



/*-----header-------*/
.header {
    padding: 32px 0;
    position: fixed;
    width: 100%;
    z-index: 3;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__navigation {
        display: flex;
        align-items: center;
        gap: 32px;
    }

    &__buttons {
        display: flex;
        gap: 8px;
    }

    &__btn {
        border: none;
        background-color: transparent;
        padding: 16px 48px;
        color: var(--white-color);
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.0025em;
        cursor: pointer;

        font-weight: 500;


    }
}

.menu {
    &__body {
        display: flex;
        gap: 48px;

    }

    &__item {
        position: relative;
    }

    &__link {
        color: var(--link-color);
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0.5px;

        &:hover {
            color: var(--accent-color);
        }
    }

}

.registration {
    color: var(--accent-color);
}

.login {
    background-color: var(--accent-color);
}

/*---HERO----*/
.hero {
    padding-top: 152px;
    background-color: var(--bg-second);
    height: 90vh;
    width: 100vw;
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
    // background-size: contain;
    background-position: right bottom;
    display: flex;
    align-items: center;

    // @media (min-width:1600px){
    //     max-width:1600px ;
    //     margin: 0 auto;
    // }



    &__container {
        width: 100%;
    }

    &__content {
        width: 600px;
        // padding-bottom: 180px;
    }


    &__title {
        font-size: 64px;
        line-height: 74px;
        letter-spacing: 0.0025em;
        color: #1F2744;
        margin-top: 32px;
    }

    &__subtitle {
        margin-top: 24px;
        width: 90%;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.0025em;
        color: #73788C;
    }
}



.filter{
    width: 750px;
    margin-top: 64px;
    margin-bottom: 100px;

    &__tab{
        padding: 12px 32px;
        background-color: transparent;
        border: none;
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        /* identical to box height, or 133% */

        letter-spacing: 0.0025em;

        color: var(--second-color);
        cursor: pointer;
    }



    &__body{
        padding: 32px;
        background-color: var(--white-color);
        display: none;
        gap: 32px;

        label{
            display: block;
            font-size: 18px;
            line-height: 26px;
            letter-spacing: 0.0025em;
            color: var(--main-text-color);

            select{
                margin-top: 8px;
                padding-right: 10px;
                border: none;
                font-size: 18px;
                line-height: 26px;
                letter-spacing: 0.0025em;
                color: var(--second-color);
            }
        }
    }

    &__button{
        padding: 18px 48px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */

        letter-spacing: 0.0025em;
        background-color: var(--accent-color);
        color: var(--white-color);

    }
    
}
.active{
    background-color: var(--white-color);
    color: var(--accent-color);
}

/*---END HERO----*/

/*---RECOMENDATION----*/
.recomendation {
    margin: 120px 0;
    
    &__container{
        display: flex;
        flex-direction: column;
        gap:48px
    }

    &__header{
        width: 45%;
        display: grid;
        gap: 16px;
        position: relative;
    }

    &__list {
        display: flex;
        gap: 34px;
    }

    &__item {
        width: 100%;
    }


    &__learn-more{
        position: absolute;
        bottom: 0;
        right: -112%;
        color: var(--accent-color);

        &::after{
            content:'';
            background-image: url('../assets/Arrow-Right.svg');
            background-repeat: no-repeat;
            width: 20px;
            height: 20px;
            position: absolute;
            right: -38px;
            top: 2px;

            

        }
        &:hover{
            cursor: pointer;

            &::after{
                box-shadow: var(--shadow);
            }
        }



    }


}



.item {
    border: 1px solid #DEDCDA;
    padding: 16px;
    background-color: #FEFEFF;

    &__content {
        width: 100%;
    }

    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.0025em;
        color: var(--main-text-color);
    }

    &__location {
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        /* identical to box height, or 162% */

        letter-spacing: 0.0025em;

        color: #A6A6A6;
    }

    &__price{
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.0025em;
        color: var(--accent-color);
        display: inline;
        margin-right: 32px;
    }
    &__place-aria{
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.0025em;
        color: var(--main-text-color);
        padding: 4px 8px;
        background-color: var(--bg-second);
        display: inline-block;

        sup{
            font-family: 'Roboto Slab', serif;
            line-height: initial;
        }
        span{
            color: var(--second-color);
        }
    }


    &__button {
        width: 100%;
        margin-top: 24px;
        padding: 12px 48px;
    }
}

/*----END RECOMENDATION---*/

/*----ABOUT US----*/
// .about-us {}

/*----END ABOUT US----*/